<div
  layout="row"
  layout-align="center"
>
  <md-whiteframe
    flex="100"
    flex-gt-xs="60"
    flex-gt-sm="40"
    class="md-whiteframe-3dp"
  >
      <md-toolbar>

        <div class="md-toolbar-tools">
          <h2 md-truncate flex>Register for SmartPension</h2>
        </div>

      </md-toolbar>



      <md-content layout-margin>

        <form
          name="register"
          novalidate
          ng-submit="vm.onSubmit(register)"
        >
          <md-subheader class="md-primary">Company details</md-subheader>
          <ng-form
              name="company"
              novalidate
            >
              <md-input-container class="md-block">
                <label>Company name</label>
                <input
                  ng-model="vm.company.name"
                  name="companyName"
                  required
                >
                <div
                  ng-messages="company.companyName.$error"
                  ng-show="company.companyName.$touched || register.$submitted"
                >
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Registration no.</label>
                <input
                  ng-model="vm.company.registrationNumber"
                  name="registrationNumber"
                  required
                >
                <div
                  ng-messages="company.registrationNumber.$error"
                  ng-show="company.registrationNumber.$touched || register.$submitted"
                >
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Legal structure</label>
                <md-select ng-model="vm.company.legalStructure" name="legalStructure" required>
                  <md-option ng-repeat="structure in vm.legalStructures" value="{{structure}}">
                    {{structure}}
                  </md-option>
                </md-select>
                <div ng-messages="company.legalStructure.$error"
                     ng-show="company.legalStructure.$touched || register.$submitted">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </ng-form>

          <md-subheader class="md-primary">Signatory details</md-subheader>
          <ng-form
              name="signatory"
              novalidate
            >
              <md-input-container class="md-block">
                <label>Signatory forename</label>
                <input ng-model="vm.company.signatory.forename" name="signatoryFirstName" required>
                <div
                  ng-messages="signatory.signatoryFirstName.$error"
                  ng-show="signatory.signatoryFirstName.$touched || register.$submitted"
                >
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Signatory surname</label>
                <input ng-model="vm.company.signatory.surname" name="signatorySurname" required>
                <div
                  ng-messages="signatory.signatorySurname.$error"
                  ng-show="signatory.signatorySurname.$touched || register.$submitted"
                >
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Signatory email address</label>
                <input ng-model="vm.company.signatory.email" type="email" name="signatoryEmail" required>
                <div
                  ng-messages="signatory.signatoryEmail.$error"
                  ng-show="signatory.signatoryEmail.$touched || register.$submitted"
                >
                  <div ng-message="required">This is required.</div>
                  <div ng-message="email">Please enter a valid email address.</div>
                  <div ng-message="noDuplicate">Please enter a valid email address.</div>
                </div>
              </md-input-container>
            </ng-form>

          <md-subheader class="md-primary">Administrator details</md-subheader>
          <ng-form
            name="dministrator"
            novalidate
          >
            <md-input-container class="md-block">
              <label>Administrator forename</label>
              <input ng-model="vm.company.admin.forename" name="adminFirstName" required>
              <div
                ng-messages="dministrator.adminFirstName.$error"
                ng-show="dministrator.adminFirstName.$touched || register.$submitted"
              >
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Signatory surname</label>
              <input ng-model="vm.company.admin.surname" name="adminSurname" required>
              <div
                ng-messages="dministrator.adminSurname.$error"
                ng-show="dministrator.signatorySurname.$touched || register.$submitted"
              >
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Administrator email address</label>
              <input ng-model="vm.company.admin.email" type="email" name="adminEmail" required>
              <div
                ng-messages="dministrator.adminEmail.$error"
                ng-show="dministrator.adminEmail.$touched || register.$submitted"
              >
                <div ng-message="required">This is required.</div>
                <div ng-message="email">Please enter a valid email address.</div>
              </div>
            </md-input-container>
          </ng-form>
          <!--<input name="postalCode" ng-model="user.postalCode" placeholder="12345"-->
          <!--required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">-->
          <!--<div ng-messages="userForm.postalCode.$error" role="alert" multiple>-->
          <!--<div ng-message="required" class="my-message">You must supply a postal code.</div>-->
          <!--<div ng-message="pattern" class="my-message">That doesn't look like a valid postal-->
          <!--code.-->
          <!--</div>-->
          <!--<div ng-message="md-maxlength" class="my-message">-->
          <!--Don't use the long version silly...we don't need to be that specific...-->
          <!--</div>-->
          <!--</div>-->
          <div
            layout="row"
            layout-align="end"
          >
            <md-button
              type="submit"
              class="md-raised md-primary"
            >Submit</md-button>
          </div>
        </form>
      </md-content>
    </md-whiteframe>
</div>

